<div>
    <div class="form" role="form">
        <div class="title">
            <span tt="search_title">Osoitehaku</span>
            <span>
                <a href="https://confluence.csc.fi/pages/viewpage.action?pageId=50865365" target="_blank">
                    <img src="img/help_idle.png" alt="Osoitepalvelun käyttäjäohje">
                </a>
            </span>
        </div>
        <div class="form-row">
            <div class="label-cell">
                <label tt="saved_searches">Tallennetut haut</label>
            </div>
            <div class="field-cell">
                <ui-select theme="select2" id="savedSearch" ng-model="$parent.selectedSavedSearch"
                           ng-change="handleSaveSelected()">
                    <ui-select-match allow-clear="true" placeholder="{{::msg('saved_searches_placeholder')}}">
                        {{$select.selected.name}}
                    </ui-select-match>
                    <ui-select-choices position='down' repeat="save.id as save in saves | filter: {name: $select.search}">
                        <div ng-bind-html="save.name  | highlight : $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="actions">
                <button class="btn" ng-click="showSaveSearchPopup()">
                    <i class="fa fa-trash-o fa-lg"></i>
                </button>
            </div>
        </div>

        <div class="form-row">
            <div class="label-cell">
                <label tt="search_type">Haku</label>
            </div>
            <div class="field-cell">
                <!--Yhteystietotyypit dropdown menu-->
                <ui-select theme="select2" id="searchType" ng-model="$parent.searchType">
                    <ui-select-match placeholder="{{::msg('search_type_placeholder')}}">
                        {{$select.selected.name}}
                    </ui-select-match>
                    <ui-select-choices position='down' repeat="opt.type as opt in searchTypes | filter: {name:$select.search}"
                                       ui-disable-choice="searchtypesDisableLogic(opt.type)">
                        <div ng-bind-html="opt.name  | highlight : $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

        <div class="form-row" ng-if="searchType == 'CONTACT'">
            <div class="label-cell">
                <label tt="address_fields">Esitettävät tiedot</label>
            </div>
            <div class="field-cell">
                <div class="criterionOptions addressTypes">
                    <div class="criterionOption" ng-repeat="opt in addressFields">
                        <input id="address_field_{{::$index}}" type="checkbox" ng-model="opt.selected"
                               ng-disabled="addressFieldDisableLogic(opt)" />
                        <label for="address_field_{{::$index}}">{{::opt.name}}</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-row" ng-show="isShowTargetGroup()">
            <div class="label-cell">
                <label tt="target_group">Kohderyhmä</label>
            </div>
            <div class="field-cell">
                <div ng-repeat="tg in visibleTargetGroups" class="selectedCriterion targetGroups">
                    <table class="criterionTable">
                        <th class="selectedCriterionName">
                            {{tg.name}}
                        <div ng-hide="isOptionSelected(tg.options) || tg.hideOptions">
                            <span class="text-error">
                                Kohderyhmän tarkennus puuttuu!
                            </span>
                        </div>
                        </th>
                        <td class="criterionOptions" ng-hide="tg.hideOptions">
                            <div class="criterionOption" ng-repeat="opt in tg.options" ng-hide="opt.hide">
                                <input id="optionChecked_{{$parent.$index}}_{{$index}}" type="checkbox"
                                       ng-model="opt.selected"/>
                                <label for="optionChecked_{{$parent.$index}}_{{$index}}">{{opt.name}}</label>
                            </div>
                        </td>
                        <!-- Tyhjä TD, jotta sarakkeet menevät oikein -->
                        <td class="criterionOptions" ng-hide="tg.hideOptions === false"></td>
                        <td class="criterionActions">
                            <button class="btn btn-danger" ng-click="removeTargetGroup($index)">
                                <i class="fa fa-times-circle-o fa-lg"></i>
                            </button>
                        </td>
                    </table>
                </div>
                <!--Kohderyhmä dropdown menu-->
                <ui-select ng-model="$parent.selectedTargetGroup" theme="select2" id="targetGroup"
                           ng-change="handleTargetGroupSelected()"
                           ng-show="(targetGroups | filter:selectableTargetGroupsFilter(selectedTargetGroupTypes, 'type')).length">
                    <ui-select-match placeholder="{{::msg('target_group_placeholder')}}">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices position='down' repeat="tg.type as tg in targetGroups
                    | filter:selectableTargetGroupsFilter(selectedTargetGroupTypes, 'type') | filter: {name: $select.search}"
                                       ui-disable-choice="targetgroupsDisableLogic(tg.type)">
                        <div ng-bind-html="tg.name  | highlight : $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

        <div class="form-row" ng-if="isTermsShown()">
            <div class="label-cell">
                <label tt="osoitteen_esityskieli">Osoitteen esityskieli</label>
            </div>
            <div class="field-cell">
                <div class="radioOptionsContainer">
                    <span class="radioOptions" ng-repeat="opt in osoitekielis">
                        <input id="osoitekieli_{{::opt.code}}" name="osoitekieli" group="osoitekieli"
                               type="radio" ng-model="osoitekieli" ng-value="opt.code" />
                        <label for="osoitekieli_{{::opt.code}}">{{::opt.name}}</label>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-row" ng-if="isTermsShown()" ng-animate="'animate'">
            <div class="label-cell">
                <label tt="search_terms">Rajaus</label>
            </div>
            <!-- tutkintotoimikuntien kriteerit-->
            <div class="field-cell">
                <div class="term" ng-if="isShowTutkintotoimikuntaTerm()" title="{{::msg('search_term_tutkintotoimikunta')}}">
                    <!--tutkintotoimikunta term-->
                    <ui-select multiple id="tutkintotoimikuntas" ng-model="terms.tutkintotoimikuntas"
                                theme="select2" select-all="false" clear-all="true">
                        <ui-select-match placeholder="{{::msg('search_term_tutkintotoimikunta')}}">{{$item.nimi}}</ui-select-match>
                        <ui-select-choices position='down' repeat="opt.koodiUri as opt in options.tutkintotoimikuntas | filter: $select.search track by $index">
                            <div ng-bind-html="opt.nimi | highlight : $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="term" ng-if="isShowTutkintotoimikuntaRooliTerm()" title="{{::msg('search_term_tutkintotoimikunta_rooli')}}">
                    <!--rooli tutkintotoimikunnassa term-->
                    <ui-select multiple id="tutkintotoimikuntaRoolis" ng-model="terms.tutkintotoimikuntaRoolis"
                                theme="select2" select-all="true" clear-all="true">
                        <ui-select-match placeholder="{{::msg('search_term_tutkintotoimikunta_rooli')}}">{{$item.nimi}}</ui-select-match>
                        <ui-select-choices position='down' repeat="opt.koodiUri as opt in options.tutkintotoimikuntaRoolis | filter: $select.search track by $index">
                            <div ng-bind-html="opt.nimi | highlight : $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                 </div>
                <div class="term-separator" ng-if="isShowKoulutusTerms() && (isShowTutkintotoimikuntaTerm() || isShowTutkintotoimikuntaRooliTerm())"></div>
                <div class="term" ng-if="isShowKoulutusTerms()" title="{{::msg('search_term_koulutuslaji')}}">
                    <ui-select multiple allow-clear id="koulutuslajis" ng-model="terms.koulutuslajis"
                                theme="select2" select-all="true" clear-all="true">
                        <ui-select-match placeholder="{{::msg('search_term_koulutuslaji')}}">{{$item.nimi}}</ui-select-match>
                        <ui-select-choices position='down' repeat="opt.koodiUri as opt in options.koulutuslajis | filter: $select.search track by $index">
                            <div ng-bind-html="opt.nimi | highlight : $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
               <div class="term" ng-if="isShowKoulutusTerms()" title="{{::msg('search_term_opetuskieli')}}">
                   <!--opetuskieli term-->
                   <ui-select multiple id="opetusKielis" ng-model="terms.opetusKielis"
                               theme="select2" select-all="false" clear-all="true">
                       <ui-select-match placeholder="{{::msg('search_term_opetuskieli')}}">{{$item.nimi}}</ui-select-match>
                       <ui-select-choices position='down' repeat="opt.koodiUri as opt in options.kielis | filter: $select.search track by $index">
                           <div ng-bind-html="opt.nimi | highlight : $select.search"></div>
                       </ui-select-choices>
                   </ui-select>
                </div>
                <div class="term-separator" ng-if="isShowTutkintotoimikuntaTerm() || isShowTutkintotoimikuntaRooliTerm() || isShowKoulutusTerms()"></div>
                <div class="term" ng-if="isShowTutkintohierarkiaTerms()" title="{{::msg('search_term_koulutusala')}}">
                    <!--Koulutusala term-->
                    <ui-select multiple id="koulutusalas" ng-model="terms.koulutusalas"
                                 theme="select2" select-all="false" clear-all="true" on-select="koulutusalasChanged($item, $model)">
                        <ui-select-match placeholder="{{::msg('search_term_koulutusala')}}">{{$item.nimi}}</ui-select-match>
                        <ui-select-choices position='down' repeat="opt.koodiUri as opt in options.koulutusalas | filter: $select.search track by $index">
                            <div ng-bind-html="opt.nimi | highlight : $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="term" ng-if="isShowTutkintohierarkiaTerms()" title="{{::msg('search_term_opintoala')}}">
                    <ui-select multiple id="opintoalas" ng-model="terms.opintoalas"
                                 theme="select2" select-all="false" clear-all="true" on-select="opintoalasChanged($item, $model)">
                        <ui-select-match placeholder="{{::msg('search_term_opintoala')}}">{{$item.nimi}}</ui-select-match>
                        <ui-select-choices position='down' repeat="opt.koodiUri as opt in options.opintoalas | filter: $select.search track by $index">
                            <div ng-bind-html="opt.nimi | highlight : $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="term-separator" ng-if="isShowTutkintohierarkiaTerms()"></div>
                <div class="term" ng-if="isShowKoulutusTyyppiTerm()" title="{{::msg('search_term_koulutustyyppi')}}">
                    <!--koulutustyyppi term-->
                    <ui-select multiple id="koulutustyyppi" ng-model="terms.koulutustyyppis"
                                 theme="select2" select-all="false" clear-all="true" on-select="koulutusTyyppisChanged($item, $model)">
                        <ui-select-match placeholder="{{::msg('search_term_koulutustyyppi')}}">{{$item.nimi}}</ui-select-match>
                        <ui-select-choices position='down' repeat="opt.koodiUri as opt in options.koulutustyyppis | filter: $select.search track by $index">
                            <div ng-bind-html="opt.nimi | highlight : $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <!--Tutkinto term-->
                <div class="term" ng-if="isShowTutkintohierarkiaTerms() && options.koulutus" title="{{::msg('search_term_tutkinto')}}">
                    <ui-select multiple id="koulutus" ng-model="terms.koulutus"
                                 theme="select2" select-all="false" clear-all="true" ng-disabled="!terms.koulutusalas.length && !terms.opintoalas.length">
                        <ui-select-match placeholder="{{::msg('search_term_tutkinto')}}">{{$item.nimi}}</ui-select-match>
                        <ui-select-choices position='down' repeat="opt.koodiUri as opt in options.koulutus | filter: $select.search track by $index">
                            <div ng-bind-html="opt.nimi | highlight : $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="term-separator" ng-if="isShowKoulutusTyyppiTerm() || (isShowTutkintotoimikuntaTerm() && options.koulutus)"></div>
                <div class="term" ng-if="isShowTutkintotoimikuntaKieliTerm()" title="{{::msg('search_term_tutkintotoimikunta_kielis')}}">
                    <!--tutkintotoimikunnan kielisyys term-->
                    <ui-select multiple id="tutkintotoimikuntaKielis" ng-model="terms.tutkintotoimikuntaKielis"
                                 theme="select2" select-all="true" clear-all="true">
                        <ui-select-match placeholder="{{::msg('search_term_tutkintotoimikunta_kielis')}}">{{$item.name}}</ui-select-match>
                        <ui-select-choices position='down' repeat="opt.code as opt in options.tutkintotoimikuntaKielis | filter: $select.search track by $index">
                            <div ng-bind-html="opt.name | highlight : $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="term" ng-if="isShowTutkintotoimikuntaJasenKieliTerm()" title="{{::msg('search_term_tutkintotoimikunta_jasen_kielis')}}">
                    <!--tutkintotoimikunnan jäsenen kielisyys term-->
                    <ui-select multiple id="tutkintotoimikuntaJasenKielis" ng-model="terms.tutkintotoimikuntaJasenKielis"
                                 theme="select2" select-all="true" clear-all="true">
                        <ui-select-match placeholder="{{::msg('search_term_tutkintotoimikunta_jasen_kielis')}}">{{$item.name}}</ui-select-match>
                        <ui-select-choices position='down' repeat="opt.code as opt in options.tutkintotoimikuntaJasenKielis | filter: $select.search track by $index">
                            <div ng-bind-html="opt.name | highlight : $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="term-separator" ng-if="isShowTutkintotoimikuntaKieliTerm() || isShowTutkintotoimikuntaJasenKieliTerm()"></div>
                <div class="term" ng-if="isShowTutkintotoimikuntaToimikausiTerm()" title="{{::msg('search_term_tutkintotoimikunta_toimikausi')}}">
                    <!--tutkintotoimikunnan toimikausi term-->
                    <ui-select multiple id="tutkintotoimikuntaToimikausis" ng-model="terms.tutkintotoimikuntaToimikausis"
                                 theme="select2" select-all="true" clear-all="true">
                        <ui-select-match placeholder="{{::msg('search_term_tutkintotoimikunta_toimikausi')}}">{{$item.nimi}}</ui-select-match>
                        <ui-select-choices position='down' repeat="opt.type as opt in options.tutkintotoimikuntaToimikausis | filter: $select.search track by $index">
                            <div ng-bind-html="opt.nimi | highlight : $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="term-separator" ng-if="isShowTutkintotoimikuntaTerm() || isShowTutkintotoimikuntaRooliTerm()"></div>
                <div class="term" ng-if="isShowPalveluidenKayttajat()" title="{{::msg('search_term_kayttooikeusryhma')}}">
                    <!--käyttöoikeusryhmä term-->
                    <ui-select multiple id="koulutaRoolis" ng-model="terms.koulutaRoolis"
                                 theme="select2" select-all="false" clear-all="true">
                        <ui-select-match placeholder="{{::msg('search_term_kayttooikeusryhma')}}">{{$item.nimi}}</ui-select-match>
                        <ui-select-choices position='down' repeat="opt.koodiId as opt in options.koulutaRoolis | filter: $select.search track by $index">
                            <div ng-bind-html="opt.nimi | highlight : $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <!-- organisaatiokriteerit-->
                <div class="term-separator" ng-if="isShowKoulutaTerm()"></div>
                <div class="term term-full-width" ng-if="isShowOppilaitoksetToimipisteet() || isShowKoulutustoimijaOppisopimustoimisto()"
                     title="{{::msg('search_term_organisaation_kieli')}}">
                    <ui-select multiple id="organisaationKielis" ng-model="terms.organisaationKielis"
                                 theme="select2" select-all="true" clear-all="true">
                        <ui-select-match placeholder="{{::msg('search_term_organisaation_kieli')}}">{{$item.nimi}}</ui-select-match>
                        <ui-select-choices position='down' repeat="opt.koodiUri as opt in options.organisaationKielis | filter:$select.search track by $index">
                            <div ng-bind-html="opt.nimi | highlight : $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="term-separator"></div>
                <div class="term" ng-if="isShowOppilaitoksetToimipisteet() || isShowKoulutustoimijaOppisopimustoimisto()"
                     title="{{::msg('search_term_maakunta')}}">
                    <ui-select multiple id="maakunta" ng-model="terms.maakuntas"
                                 theme="select2" select-all="true" clear-all="true">
                        <ui-select-match placeholder="{{::msg('search_term_maakunta')}}">{{$item.nimi}}</ui-select-match>
                        <ui-select-choices position='down' repeat="opt.koodiUri as opt in options.maakuntas | filter: $select.search track by $index">
                            <div ng-bind-html="opt.nimi | highlight : $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="term" ng-if="isShowOppilaitoksetToimipisteet() || isShowKoulutustoimijaOppisopimustoimisto()"
                     title="{{::msg('search_term_kunta')}}">
                    <!--kunta term-->
                    <ui-select multiple id="kunta" ng-model="terms.kuntas"
                                 theme="select2" select-all="false" clear-all="true">
                        <ui-select-match placeholder="{{::msg('search_term_kunta')}}">{{$item.nimi}}</ui-select-match>
                        <ui-select-choices position='down' repeat="opt.koodiUri as opt in options.kuntas | filter: $select.search track by $index">
                            <div ng-bind-html="opt.nimi | highlight : $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="term-separator"></div>
                <!--oppilaitostyyppi term-->
                <div class="term term-full-width" ng-if="isShowOppilaitoksetToimipisteet()
                || isShowKoulutustoimijaOppisopimustoimisto() || isShowPalveluidenKayttajat()"
                     title="{{::msg('search_term_oppilaitostyyppi')}}">
                    <ui-select multiple id="oppilaitostyyppi" ng-model="terms.oppilaitostyyppis" on-remove="clearVuosiluokka($item, $model)"
                               theme="select2" select-all="true" clear-all="true" ng-disabled="!!terms.koultuksenjarjestajas.length">
                        <ui-select-match placeholder="{{::msg('search_term_oppilaitostyyppi')}}">{{$item.nimi}}</ui-select-match>
                        <ui-select-choices position='down' repeat="opt.koodiUri as opt in options.oppilaitostyyppis | filter: $select.search track by $index">
                            <div ng-bind-html="opt.nimi | highlight : $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="term-separator"></div>

                <!--perusopetuksen vuosiluokkatieto term-->
                <div class="term" ng-if="(isShowKoulutustoimijaOppisopimustoimisto() || isShowOppilaitoksetToimipisteet()
                || isShowPalveluidenKayttajat()) && isShowVuosiluokkaTerm()"
                     title="{{::msg('search_term_vuosiluokka')}}">
                    <ui-select multiple id="vuosiluokka" ng-model="terms.vuosiluokkas"
                               theme="select2" select-all="true" clear-all="true">
                        <ui-select-match placeholder="{{::msg('search_term_vuosiluokka')}}">{{$item.nimi}}</ui-select-match>
                        <ui-select-choices position='down' repeat="opt.koodiUri as opt in options.vuosiluokkas | filter: $select.search track by $index">
                            <div ng-bind-html="opt.nimi | highlight : $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <!--Koulutustoimija term-->
                <div class="term term-full-width" ng-if="isShowOppilaitoksetToimipisteet() || isShowPalveluidenKayttajat()"
                     title="{{::msg('search_term_koultuksenjarjestaja')}}">
                    <ui-select multiple id="koultuksenjarjestaja" ng-model="terms.koultuksenjarjestajas"
                                 theme="select2" select-all="false" clear-all="true" ng-disabled="!!terms.oppilaitostyyppis.length">
                        <ui-select-match placeholder="{{::msg('search_term_koultuksenjarjestaja')}}">{{$item.nimi}}</ui-select-match>
                        <ui-select-choices position='down' repeat="opt.koodiUri as opt in options.koultuksenjarjestajas | filter: $select.search track by $index">
                            <div ng-bind-html="opt.nimi | highlight : $select.search"></div>
                        </ui-select-choices>
                    </ui-select>

                </div>
                <div class="term-separator"></div>

                <div style="clear:both;">
                    <a ng-click="toggleShowMore()">
                        <span ng-if="showExtraTerms" tt="show_more_terms">enemmän rajausehtoja</span>
                    </a>
                </div>
                <div ng-if="showExtraTerms">
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="label-cell"></div>
            <div class="field-cell">
                <div class="form-action" ng-if="isSearchActionsVisible()">
                    <button class="btn btn-lg btn-primary" ng-click="search()" ng-disabled="!isSearchAllowed()">
                        <i class="fa fa-search"></i> <span tt="search_action">Hae</span>
                    </button>
                    <button class="btn btn-lg" ng-click="saveSearch()">
                        <i class="fa fa-floppy-o"></i> <span tt="save_search_action">Tallenna haku</span>
                    </button>
                    <button class="btn btn-lg" ng-click="clear()" tt="clear_action">Tyhjennä</button>
                </div>
            </div>
        </div>
    </div>
</div>