<div>
    <div class="form" role="form">
        <div class="title">
            <span tt="search_title">Osoitehaku</span>
            <span>
                <a href="https://confluence.csc.fi/pages/viewpage.action?pageId=50865365" target="_blank">
                    <img src="img/help_idle.png" alt="Osoitepalvelun käyttäjäohje">
                </a>
            </span>
        </div>
        <div class="form-row">
            <div class="label-cell">
                <label for="savedSearch" tt="saved_searches">Tallennetut haut</label>
            </div>
            <div class="field-cell">
                <select ui-select2 id="savedSearch" class="form-control" ng-model="selectedSavedSearch" ng-change="handleSaveSelected()">
                   <option class="placeholder select2-disabled" value="" tt="saved_searches_placeholder" class="placeholder">Valitse tallennettu haku</option>
                   <option ng-repeat="save in saves" value="{{save.id}}" ng-bind-html="save.name" label="save.name"></option>
                </select>
            </div>
            <div class="actions">
                <button class="btn" ng-click="showSaveSearchPopup()">
                    <i class="fa fa-trash-o fa-1x"></i>
                </button>
            </div>
        </div>

        <div class="form-row">
            <div class="label-cell">
                <label for="searchType" tt="search_type">Haku</label>
            </div>
            <div class="field-cell">
                <select ui-select2 id="searchType" class="form-control" ng-model="searchType">
                    <option class="placeholder select2-disabled" value="" tt="search_type_placeholder" class="placeholder">Valitse mihin tarkoitukseen tarvitset yhteystietoja</option>
                    <option ng-repeat="opt in searchTypes" value="{{opt.type}}">{{opt.name}}</option>
                </select>
            </div>
        </div>

        <div class="form-row" ng-show="searchType == 'CONTACT'">
            <div class="label-cell">
                <label tt="address_fields">Esitettävät tiedot</label>
            </div>
            <div class="field-cell">
                <div class="criterionOptions addressTypes">
                    <div class="criterionOption" ng-repeat="opt in addressFields">
                        <input id="address_field_{{$index}}" type="checkbox" ng-model="opt.selected" />
                        <label for="address_field_{{$index}}">{{opt.name}}</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-row" ng-show="isShowTargetGroup()">
            <div class="label-cell">
                <label for="targetGroup" tt="target_group">Kohderyhmä</label>
            </div>
            <div class="field-cell">
                <div ng-repeat="tg in visibleTargetGroups" class="selectedCriterion targetGroups">
                    <table class="criterionTable">
                        <th class="selectedCriterionName">
                            {{tg.name}}
                        <div ng-if="!isOptionSelected(tg.options)" ng-hide="tg.hideOptions">
                            <span class="text-error">
                                Kohderyhmän tarkennus puuttuu!
                            </span>
                        </div>
                        </th>
                        <td class="criterionOptions" ng-hide="tg.hideOptions">
                            <div class="criterionOption" ng-repeat="opt in tg.options">
                                <input id="optionChecked_{{$parent.$index}}_{{$index}}" type="checkbox" ng-model="opt.selected" /> <label for="optionChecked_{{$parent.$index}}_{{$index}}">{{opt.name}}</label>
                            </div>
                        </td>
                        <!-- Tyhjä TD, jotta sarakkeet menevät oikein -->
                        <td class="criterionOptions" ng-hide="tg.hideOptions === false"></td>
                        <td class="criterionActions">
                            <button class="btn btn-danger" ng-click="removeTargetGroup($index)">
                                <i class="fa fa-ban fa-1x"></i>
                            </button>
                        </td>
                    </table>
                </div>
                <select ui-select2 id="targetGroup" class="form-control"
                        ng-model="selectedTargetGroup"
                        ng-change="handleTargetGroupSelected()"
                        ng-show="(targetGroups | filter:selectableTargetGroupsFilter(selectedTargetGroupTypes, 'type')).length">
                    <option class="placeholder select2-disabled" value="" tt="target_group_placeholder"  class="placeholder">Valitse lisättävä kohderyhmä</option>
                    <option ng-repeat="tg in targetGroups | filter:selectableTargetGroupsFilter(selectedTargetGroupTypes, 'type')" value="{{tg.type}}"
                    ng-hide="searchType=='LETTER' && tg.type=='KOULUTA_KAYTTAJAT'">{{tg.name}}</option>
                    <option ng-disabled="true" ng-show="searchType == 'LETTER'" value="fff">{{(targetGroups|filter:{type:'KOULUTA_KAYTTAJAT'}:true)[0].name}}</option>
                </select>
            </div>
        </div>

        <div class="form-row" ng-show="isTermsShown()">
            <div class="label-cell">
                <label tt="osoitteen_esityskieli">Osoitteen esityskieli</label>
            </div>
            <div class="field-cell">
                <div class="radioOptionsContainer">
                    <span class="radioOptions" ng-repeat="opt in osoitekielis">
                        <input id="osoitekieli_{{opt.code}}" name="osoitekieli" group="osoitekieli"
                               type="radio" ng-model="$parent.osoitekieli" ng-value="opt.code" />
                        <label for="osoitekieli_{{opt.code}}">{{opt.name}}</label>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-row" ng-show="isTermsShown()" ng-animate="'animate'">
            <div class="label-cell">
                <label tt="search_terms">Rajaus</label>
            </div>
            <div class="field-cell">
                <div class="term" ng-show="isShowTutkintotoimikuntaTerm()" title="{{msg('search_term_tutkintotoimikunta')}}">
                    <select ui-select2 multiple id="tutkintotoimikuntas" class="form-control" ng-model="terms.tutkintotoimikuntas" data-placeholder="{{msg('search_term_tutkintotoimikunta')}}">
                        <option ng-repeat="opt in options.tutkintotoimikuntas" value="{{opt.koodiUri}}">{{opt.nimi}}</option>
                    </select>
                </div>
                <div class="term" ng-show="isShowTutkintotoimikuntaRooliTerm()" title="{{msg('search_term_tutkintotoimikunta_rooli')}}">
                    <select ui-select2 multiple id="tutkintotoimikuntaRoolis" class="form-control" ng-model="terms.tutkintotoimikuntaRoolis" data-placeholder="{{msg('search_term_tutkintotoimikunta_rooli')}}">
                        <option ng-repeat="opt in options.tutkintotoimikuntaRoolis" value="{{opt.koodiUri}}">{{opt.nimi}}</option>
                    </select>
                </div>
                <div class="term-separator" ng-show="isShowKoulutusTerms() && (isShowTutkintotoimikuntaTerm() || isShowTutkintotoimikuntaRooliTerm())"></div>
                <div class="term" ng-show="isShowKoulutusTerms()" title="{{msg('search_term_koulutuslaji')}}">
                    <select ui-select2="allowClearConfig" id="koulutuslajis" class="form-control" ng-model="terms.koulutuslajis[0]" data-placeholder="{{msg('search_term_koulutuslaji')}}">
                        <option value=""></option>
                        <option ng-repeat="opt in options.koulutuslajis" value="{{opt.koodiUri}}">{{opt.nimi}}</option>
                    </select>
                </div>
               <div class="term" ng-show="isShowKoulutusTerms()" title="{{msg('search_term_opetuskieli')}}">
                    <select ui-select2 multiple id="opetusKielis" class="form-control" ng-model="terms.opetusKielis" data-placeholder="{{msg('search_term_opetuskieli')}}">
                        <option ng-repeat="opt in options.kielis" value="{{opt.koodiUri}}">{{opt.nimi}}</option>
                    </select>
                </div>
                <div class="term-separator" ng-show="isShowTutkintotoimikuntaTerm() || isShowTutkintotoimikuntaRooliTerm() || isShowKoulutusTerms()"></div>
                <div class="term" ng-show="isShowTutkintohierarkiaTerms()" title="{{msg('search_term_koulutusala')}}">
                    <select ui-select2 multiple id="koulutusalas" class="form-control" ng-model="terms.koulutusalas"
                            ng-change="koulutusalasChanged()" data-placeholder="{{msg('search_term_koulutusala')}}">
                        <option ng-repeat="opt in options.koulutusalas" value="{{opt.koodiUri}}">{{opt.nimi}}</option>
                    </select>
                </div>
                <div class="term" ng-show="isShowTutkintohierarkiaTerms()" title="{{msg('search_term_opintoala')}}">
                    <select ui-select2 multiple id="opintoalas" class="form-control" ng-model="terms.opintoalas"
                            ng-change="opintoalasChanged()" data-placeholder="{{msg('search_term_opintoala')}}">
                        <option ng-repeat="opt in options.opintoalas" value="{{opt.koodiUri}}">{{opt.nimi}}</option>
                    </select>
                </div>
                <div class="term-separator" ng-show="isShowTutkintohierarkiaTerms()"></div>
                <div class="term" ng-show="isShowKoulutusTyyppiTerm()" title="{{msg('search_term_koulutustyyppi')}}">
                    <select ui-select2 multiple id="koulutustyyppi" class="form-control" ng-model="terms.koulutustyyppis"
                            ng-change="koulutusTyyppisChanged()" data-placeholder="{{msg('search_term_koulutustyyppi')}}">
                        <option ng-repeat="opt in options.koulutustyyppis" value="{{opt.koodiUri}}">{{opt.nimi}}</option>
                    </select>
                </div>
                <div class="term" ng-show="isShowTutkintohierarkiaTerms() &amp;&amp; options.koulutus" title="{{msg('search_term_tutkinto')}}">
                    <select ui-select2 multiple id="koulutus" class="form-control" ng-model="terms.koulutus" data-placeholder="{{msg('search_term_tutkinto')}}">
                        <option ng-repeat="opt in options.koulutus" value="{{opt.koodiUri}}">{{opt.nimi}}</option>
                    </select>
                </div>
                <div class="term-separator" ng-show="isShowKoulutusTyyppiTerm() || (isShowTutkintotoimikuntaTerm() &amp;&amp; options.koulutus)"></div>
                <div class="term" ng-show="isShowTutkintotoimikuntaKieliTerm()" title="{{msg('search_term_tutkintotoimikunta_kielis')}}">
                    <select ui-select2 multiple id="tutkintotoimikuntaKielis" class="form-control" ng-model="terms.tutkintotoimikuntaKielis"
                                data-placeholder="{{msg('search_term_tutkintotoimikunta_kielis')}}">
                        <option ng-repeat="opt in options.tutkintotoimikuntaKielis" value="{{opt.code}}">{{opt.name}}</option>
                    </select>
                </div>
                <div class="term" ng-show="isShowTutkintotoimikuntaJasenKieliTerm()" title="{{msg('search_term_tutkintotoimikunta_jasen_kielis')}}">
                    <select ui-select2 multiple id="tutkintotoimikuntaJasenKielis" class="form-control" ng-model="terms.tutkintotoimikuntaJasenKielis"
                                data-placeholder="{{msg('search_term_tutkintotoimikunta_jasen_kielis')}}">
                        <option ng-repeat="opt in options.tutkintotoimikuntaJasenKielis" value="{{opt.code}}">{{opt.name}}</option>
                    </select>
                </div>
                <div class="term-separator" ng-show="isShowTutkintotoimikuntaKieliTerm() || isShowTutkintotoimikuntaJasenKieliTerm()"></div>
                <div class="term" ng-show="isShowTutkintotoimikuntaToimikausiTerm()" title="{{msg('search_term_tutkintotoimikunta_toimikausi')}}">
                    <select ui-select2 multiple id="tutkintotoimikuntaToimikausis" class="form-control" ng-model="terms.tutkintotoimikuntaToimikausis"
                            data-placeholder="{{msg('search_term_tutkintotoimikunta_toimikausi')}}">
                        <option ng-repeat="opt in options.tutkintotoimikuntaToimikausis" value="{{opt.type}}">{{opt.nimi}}</option>
                    </select>
                </div>
                <div class="term-separator" ng-show="isShowTutkintotoimikuntaTerm() || isShowTutkintotoimikuntaRooliTerm()"></div>
                <div class="term" ng-show="isShowKoulutaTerm()" title="{{msg('search_term_kayttooikeusryhma')}}">
                    <select ui-select2 multiple id="koulutaRoolis" class="form-control" ng-model="terms.koulutaRoolis" data-placeholder="{{msg('search_term_kayttooikeusryhma')}}">
                        <option ng-repeat="opt in options.koulutaRoolis" value="{{opt.koodiId}}">{{opt.nimi}}</option>
                    </select>
                </div>
                <div class="term-separator" ng-show="isShowKoulutaTerm()"></div>
                <div class="term term-full-width" title="{{msg('search_term_organisaation_kieli')}}">
                    <select ui-select2 multiple id="organisaationKielis" class="form-control" ng-model="terms.organisaationKielis" data-placeholder="{{msg('search_term_organisaation_kieli')}}">
                        <option ng-repeat="opt in options.organisaationKielis" value="{{opt.koodiUri}}">{{opt.nimi}}</option>
                    </select>
                </div>
                <div class="term-separator"></div>
                <div class="term" title="{{msg('search_term_maakunta')}}">
                    <select ui-select2 multiple id="maakunta" class="form-control" ng-model="terms.maakuntas" data-placeholder="{{msg('search_term_maakunta')}}">
                        <option ng-repeat="opt in options.maakuntas" value="{{opt.koodiUri}}">{{opt.nimi}}</option>
                    </select>
                </div>
                <div class="term" title="{{msg('search_term_kunta')}}">
                    <select ui-select2 multiple data-disable-selectall id="kunta" class="form-control" ng-model="terms.kuntas" data-placeholder="{{msg('search_term_kunta')}}">
                        <option ng-repeat="opt in options.kuntas" value="{{opt.koodiUri}}">{{opt.nimi}}</option>
                    </select>
                </div>
                <div class="term-separator"></div>
                <div class="term term-full-width" title="{{msg('search_term_oppilaitostyyppi')}}">
                    <select ui-select2 multiple id="oppilaitostyyppi" class="form-control" ng-model="terms.oppilaitostyyppis" data-placeholder="{{msg('search_term_oppilaitostyyppi')}}">
                        <option ng-repeat="opt in options.oppilaitostyyppis" value="{{opt.koodiUri}}">{{opt.nimi}}</option>
                    </select>
                </div>
                <div class="term" ng-show="isShowVuosiluokkaTerm()" title="{{msg('search_term_vuosiluokka')}}">
                    <select ui-select2 multiple id="vuosiluokka" class="form-control" ng-model="terms.vuosiluokkas" data-placeholder="{{msg('search_term_vuosiluokka')}}">
                        <option ng-repeat="opt in options.vuosiluokkas" value="{{opt.koodiUri}}">{{opt.nimi}}</option>
                    </select>
                </div>
                <div class="term-separator"></div>
                <div class="term term-full-width" title="{{msg('search_term_koultuksenjarjestaja')}}">
                    <select ui-select2 multiple data-disable-selectall id="koultuksenjarjestaja" class="form-control"
                            ng-model="terms.koultuksenjarjestajas" data-placeholder="{{msg('search_term_koultuksenjarjestaja')}}">
                        <option ng-repeat="opt in options.koultuksenjarjestajas" value="{{opt.koodiId}}">{{opt.nimi}}</option>
                    </select>
                </div>
                <div class="term-separator"></div>

                <div style="clear:both;">
                    <a ng-click="toggleShowMore()">
                        <span ng-show="showExtraTerms" tt="show_more_terms">enemmän rajausehtoja</span>
                    </a>
                </div>
                <div ng-show="showExtraTerms">
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="label-cell"></div>
            <div class="field-cell">
                <div class="form-action" ng-if="isSearchActionsVisible()">
                    <button class="btn btn-lg btn-primary" ng-click="search()" ng-disabled="!isSearchAllowed()" tt="search_action">Hae</button>
                    <button class="btn btn-lg" ng-click="saveSearch()" tt="save_search_action">Tallenna haku</button>
                    <button class="btn btn-lg" ng-click="clear()" tt="clear_action">Tyhjennä</button>
                </div>
            </div>
        </div>
    </div>
</div>