
/* Select2 adjustments for virkailija.css */
.select2-container-multi .select2-choices .select2-search-choice {
    color: #333333;
    cursor: default;
    line-height: inherit;
    background: #D2ECF5;
    text-shadow: none;
    background-image: none;
    border-color: rgb( 89, 174, 202 );
    border-radius: 3px;
}

.select2-container-multi .select2-choices    .select2-search-choice-focus {
   background-color: rgb(159, 219, 240);
   color: #FFFFFF;
}

.select2-search-choice-close {
    top: 7px;
}

.select2-container {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
}

.select2-container:hover, .select2-search-field:hover, .select2-container input:hover, .select2-choice:hover {
    background: #FFF5DA;
}

.select2-results .select2-highlighted {
    background: none repeat scroll 0 0 #E99F00;
}

.topCournerInfoMessage {
    position: fixed;
    left: 0px;
    top: 0px;
    background: gold;
    padding: 0.3em;
    font-weight: bold;
}

input[type="checkbox"].ngSelectionCheckbox {
    top: inherit;
}
