
body {
	padding: 20px;
}

.form h2 {
    margin-left: 250px;
    font-size: 22px;
    margin-bottom: 15px;
}
.form {
    margin-top: 20px;
}
.form .form-row {
    padding-top: 10px;
}
.form .form-row:after {
    clear: both;
    display: table;
    content: "";
}
.form-row .form-row-clear {
    clear: both;
}
.form-row .form-actions {
    margin-left: 250px;
}
.form-actions .form-action {
    margin-right: 10px;
}
.form-row .label-cell {
    width: 250px;
    float: left;
    padding-top: 5px;
}
.form-row .field-cell {
    float: left;
}
.form-row .field-cell select {
    min-width: 400px;
}
option.placeholder {
    color:gray;
}
.form-clear {
    clear: both;
    margin-bottom: 20px;
}
.selectedCriterion {
    background-color: lightgrey;
    border-radius: 4px 4px 4px 4px;
    margin-bottom:5px;
}
.selectedCriterion label {
    font-weight: normal;
}
.selectedCriterion .criterionActions {
    vertical-align: top;
    padding: 2px;
    padding-right: 5px;
}
.selectedCriterionName {
    vertical-align: top;
    padding-top: 4px;
    font-size: 1.2em;
    width: 40%;
    font-weight: bold;
    text-align: left;
    padding-left: 5px;
}
.selectedCriterion .criterionOption {
    float: left;
    min-width: 120px;
}
.selectedCriterion .criterionOption input[type=checkbox] {
    display: block;
    margin-left: 5px;
    float:left;
}
.selectedCriterion .criterionOption label {
    float:left;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 15px;
}

.selectedCriterion .criterionTable {
    width: 100%;
}
.criterionActions {
    width: 15px;
}
.saveList .save td {
    padding-bottom: 10px;
}
.saveList .save .saveName {
    min-width: 300px;
    padding-right: 20px;
}
.select2-container {
    min-width: 400px;
}
.field-cell {
    min-width: 500px;
}
a {
    cursor: pointer;
}