
.animate-enter, .animate-leave {
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease;
    position:absolute;
}
.animate-enter {
    left: -100%;
}
.animate-enter.animate-enter-active {
    left: 0;
}
.animate-leave {
    left: 0;
}
.animate-leave.animate-leave-active {
    left: 100%;
}


body {
/*    padding: 20px; */
}

.form h2 {
    margin-left: 15%;
    font-size: 22px;
    margin-bottom: 15px;
}
.form {
    margin-top: 20px;
    padding-left: 25px;
}
.form .form-row {
    padding-top: 10px;
}
.form .form-row:after {
    clear: both;
    display: table;
    content: "";
}
.form-row .form-row-clear {
    clear: both;
}
.form-actions .form-action {
    margin-right: 10px;
}
.form-row .label-cell {
    width: 15%;
    min-width: 200px;
    float: left;
    padding-top: 5px;
}
.form-row .field-cell {
    float: left;
    max-width: 80%;
}
.form-row .field-cell select {
    min-width: 400px;
}
.resultsContainer {
    padding-left: 25px;
}
option.placeholder {
    color:gray;
}
.form-clear {
    clear: both;
    margin-bottom: 20px;
}
.selectedCriterion {
    /*background-color: lightgrey;*/
    background-color: #EEEEEE;
    background-image: -moz-linear-gradient(center bottom , #FFFFFF 0%, #EEEEEE 50%);
    border-radius: 4px 4px 4px 4px;
    margin-bottom:5px;
}
.criterionOptions label {
    font-weight: normal;
}
.targetGroups.selectedCriterion {
    width: 100%;
}
.criterionTable .criterionActions {
    vertical-align: top;
    padding: 2px;
    padding-right: 5px;
}
.selectedCriterionName {
    vertical-align: top;
    padding-top: 4px;
    font-size: 1.1em;
    width: 40%;
    font-weight: bold;
    text-align: left;
    padding-left: 5px;
}
.criterionOptions .criterionOption {
    float: left;
    min-width: 120px;
}
.criterionOptions .criterionOption input[type=checkbox] {
    display: block;
    margin-left: 5px;
    float:left;
}
.criterionOptions .criterionOption label {
    float:left;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 15px;
}

.addressTypes.criterionOptions .criterionOption {
    width: 30%;
    min-width: 200px;
}

.selectedCriterion .criterionTable {
    width: 100%;
    max-width: 800px;
}
.criterionActions {
    width: 15px;
}
.saveList .save td {
    padding-bottom: 10px;
}
.saveList .save .saveName {
    min-width: 300px;
    padding-right: 20px;
}
.select2-container {
    min-width: 400px;
}
.select2-search-field:only-child input {
    min-width: 380px;
}

.field-cell {
    min-width: 500px;
}
a {
    cursor: pointer;
}
.term {
    float: left;
    width: 45%;
    margin-bottom: 10px;
    margin-right: 5%;
}
.term.term-full-width {
    clear: right;
    width: 100%;
    margin-right: 0px;
}
.term .select2-container {
    max-width: 400px;
}
.term-separator {
    clear:both;
}

#results {
    position: relative;
}
#results h2 {
    font-size: 22px;
}
#results .gridStyle {
    border: 1px solid rgb(212,212,212);
}
.resultInfo {
    position: absolute;
    left: 120px;
    top: 13px;
}

.searchActions {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 70px;
}

.searchActions .rightPosition {
    position: absolute;
    right: 20px;
}
.searchActions .leftPosition {
    position: absolute;
    left: 20px;
}
.leftPosition button {
    margin-right: 10px;
}
.rightPosition button {
    margin-left: 10px;
}

.select2-choice .placeholder, .select2-result-label .placeholder {
    font-tyle: italic;
    color: #666666;
}
